-- PERSONNEL INSERT STATEMENTS
-- Run this in Supabase after complete_setup.sql

INSERT INTO personnel (employee_id, full_name, email, department, is_active) VALUES ('WC492', 'Adri Ludick', 'a.ludick@wearcheckRS.com', 'ARC-NDT', TRUE) ON CONFLICT (employee_id) DO NOTHING;
INSERT INTO personnel (employee_id, full_name, email, department, is_active) VALUES ('WC383', 'Adriaan Pertus Johannes Bouwer', 'adriaanb@wearcheckrs.com', 'ARC-RCM', TRUE) ON CONFLICT (employee_id) DO NOTHING;
INSERT INTO personnel (employee_id, full_name, email, department, is_active) VALUES ('WEC094', 'Ailwel Marshall Rasimphi', 'marshallr@wearcheckrs.com', 'ARC-RCM', TRUE) ON CONFLICT (employee_id) DO NOTHING;

-- EQUIPMENT INSERT STATEMENTS


-- Equipment: Fixturlaser R2 (03362)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00001', 'Fixturlaser R2', 'Fixturlaser South Africa (Pty) Ltd', '03362', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-05-05'::DATE, '2027-05-01'::DATE, '03362-20250506-43457', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '03362'
ON CONFLICT DO NOTHING;

-- Equipment: Acoem S7 (41718)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00002', 'Acoem S7', 'Acoem', '41718', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-10'::DATE, '2026-03-10'::DATE, '41718-20250310', 'Acoem'
FROM equipment e WHERE e.serial_number = '41718'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser M3 (85889)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00003', 'Fixturlaser M3', 'Fixturlaser South Africa (Pty) Ltd', '85889', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-05-05'::DATE, '2027-05-01'::DATE, '85889-20250505-43457', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '85889'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser S3 (95889)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00004', 'Fixturlaser S3', 'Fixturlaser South Africa (Pty) Ltd', '95889', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-05-05'::DATE, '2027-05-01'::DATE, '95889-20250505-43457', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '95889'
ON CONFLICT DO NOTHING;

-- Equipment: Flir E40 (49002016)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00005', 'Flir E40', 'Repair and Metrology Services (Pty) Ltd', '49002016', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-09-01'::DATE, '2026-09-01'::DATE, '135305-1', 'Repair and Metrology Services (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '49002016'
ON CONFLICT DO NOTHING;

-- Equipment: sensALIGN 7 Sensor (49004275)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00006', 'sensALIGN 7 Sensor', 'Hersteller', '49004275', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-12-04'::DATE, '2026-12-04'::DATE, '1504250247 152 04', 'Hersteller'
FROM equipment e WHERE e.serial_number = '49004275'
ON CONFLICT DO NOTHING;

-- Equipment: sensALIGN 7 Sensor (49022264)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00007', 'sensALIGN 7 Sensor', 'Hersteller', '49022264', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-02-13'::DATE, '2026-02-13'::DATE, '49475264_ 2024_02_13', 'Hersteller'
FROM equipment e WHERE e.serial_number = '49022264'
ON CONFLICT DO NOTHING;

-- Equipment: sensALIGN 7 Sensor (49110800)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00008', 'sensALIGN 7 Sensor', 'Hersteller', '49110800', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-02-14'::DATE, '2026-02-14'::DATE, '49140800 2024_02_14', 'Hersteller'
FROM equipment e WHERE e.serial_number = '49110800'
ON CONFLICT DO NOTHING;

-- Equipment: Flir T640 (55905783)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00009', 'Flir T640', 'Flir', '55905783', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-01-20'::DATE, '2026-01-20'::DATE, '132288-1', 'Flir'
FROM equipment e WHERE e.serial_number = '55905783'
ON CONFLICT DO NOTHING;

-- Equipment: Flir T530 (79302627)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00010', 'Flir T530', 'Flir', '79302627', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-29'::DATE, '2026-10-29'::DATE, '136287-1', 'Flir'
FROM equipment e WHERE e.serial_number = '79302627'
ON CONFLICT DO NOTHING;

-- Equipment: Flir T540 (79318361)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00011', 'Flir T540', 'Flir', '79318361', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-17'::DATE, '2026-03-17'::DATE, '132711-1', 'Flir'
FROM equipment e WHERE e.serial_number = '79318361'
ON CONFLICT DO NOTHING;

-- Equipment: Flir E54 (84510173)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00012', 'Flir E54', 'Flir', '84510173', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-06-19'::DATE, '2026-06-19'::DATE, '134294-1', 'Flir'
FROM equipment e WHERE e.serial_number = '84510173'
ON CONFLICT DO NOTHING;

-- Equipment: All Test Pro 5 (ATSX1119)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00013', 'All Test Pro 5', 'All Test Pro', 'ATSX1119', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Motor Circuit Analysis' AND s.name = 'MCA Testers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-07-14'::DATE, '2028-07-13'::DATE, 'VC0000029', 'All Test Pro'
FROM equipment e WHERE e.serial_number = 'ATSX1119'
ON CONFLICT DO NOTHING;

-- Equipment: ATTP MCA Tester (AT701667)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00014', 'ATTP MCA Tester', 'All Test Pro', 'AT701667', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Motor Circuit Analysis' AND s.name = 'MCA Testers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-02-03'::DATE, '2026-02-03'::DATE, 'TVC0000005', 'All Test Pro'
FROM equipment e WHERE e.serial_number = 'AT701667'
ON CONFLICT DO NOTHING;

-- Equipment: Portable Vibration Calibrator (9110D)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00015', 'Portable Vibration Calibrator', 'The Modal Shop', '9110D', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-11-12'::DATE, '2026-11-12'::DATE, 'PRD-P297', 'The Modal Shop'
FROM equipment e WHERE e.serial_number = '9110D'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B2140140724)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00016', 'AMS2140 Analyzer', 'Emerson', 'B2140140724', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202549', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B2140140724'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B2140140833)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00017', 'AMS2140 Analyzer', 'Emerson', 'B2140140833', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202555', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B2140140833'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401150773)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00018', 'AMS2140 Analyzer', 'Emerson', 'B21401150773', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202542', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401150773'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401161342)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00019', 'AMS2140 Analyzer', 'Emerson', 'B21401161342', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-28'::DATE, '2026-03-27'::DATE, 'C03-202533', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401161342'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401172280)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00020', 'AMS2140 Analyzer', 'Emerson', 'B21401172280', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-04-01'::DATE, '2026-04-01'::DATE, 'C04-202534', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401172280'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401172281)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00021', 'AMS2140 Analyzer', 'Emerson', 'B21401172281', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202554', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401172281'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401183989)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00022', 'AMS2140 Analyzer', 'Emerson', 'B21401183989', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202539', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401183989'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401195137)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00023', 'AMS2140 Analyzer', 'Emerson', 'B21401195137', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-04-11'::DATE, '2026-04-11'::DATE, 'C04-202540', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401195137'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216460)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00024', 'AMS2140 Analyzer', 'Emerson', 'B21401216460', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202544', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216460'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216461)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00025', 'AMS2140 Analyzer', 'Emerson', 'B21401216461', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202541', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216461'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216462)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00026', 'AMS2140 Analyzer', 'Emerson', 'B21401216462', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202557', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216462'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216467)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00027', 'AMS2140 Analyzer', 'Emerson', 'B21401216467', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202545', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216467'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216468)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00028', 'AMS2140 Analyzer', 'Emerson', 'B21401216468', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202560', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216468'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216469)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00029', 'AMS2140 Analyzer', 'Emerson', 'B21401216469', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-28'::DATE, '2026-03-27'::DATE, 'C03-202531', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216469'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216472)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00030', 'AMS2140 Analyzer', 'Emerson', 'B21401216472', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202557', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216472'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216473)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00031', 'AMS2140 Analyzer', 'Emerson', 'B21401216473', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202559', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216473'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216474)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00032', 'AMS2140 Analyzer', 'Emerson', 'B21401216474', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202547', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216474'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216475)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00033', 'AMS2140 Analyzer', 'Emerson', 'B21401216475', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-09-03'::DATE, '2026-09-02'::DATE, 'C09-202501', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216475'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216476)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00034', 'AMS2140 Analyzer', 'Emerson', 'B21401216476', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202553', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216476'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216478)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00035', 'AMS2140 Analyzer', 'Emerson', 'B21401216478', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202556', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216478'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216479)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00036', 'AMS2140 Analyzer', 'Emerson', 'B21401216479', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202543', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216479'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216480)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00037', 'AMS2140 Analyzer', 'Emerson', 'B21401216480', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202551', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216480'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401216481)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00038', 'AMS2140 Analyzer', 'Emerson', 'B21401216481', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202552', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401216481'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401237748)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00039', 'AMS2140 Analyzer', 'Emerson', 'B21401237748', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202546', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401237748'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401237749)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00040', 'AMS2140 Analyzer', 'Emerson', 'B21401237749', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-28'::DATE, '2026-03-27'::DATE, 'C03-202530', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401237749'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401237750)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00041', 'AMS2140 Analyzer', 'Emerson', 'B21401237750', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-08-25'::DATE, '2026-11-24'::DATE, 'CP0051', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401237750'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401238055)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00042', 'AMS2140 Analyzer', 'Emerson', 'B21401238055', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-29'::DATE, '2026-03-28'::DATE, 'C10-202548', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401238055'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401238056)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00043', 'AMS2140 Analyzer', 'Emerson', 'B21401238056', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-03-28'::DATE, '2026-03-27'::DATE, 'C03-202532', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401238056'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401238057)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00044', 'AMS2140 Analyzer', 'Emerson', 'B21401238057', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-08-25'::DATE, '2026-11-24'::DATE, 'CP0051', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401238057'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401238058)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00045', 'AMS2140 Analyzer', 'Emerson', 'B21401238058', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202540', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401238058'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401248300)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00046', 'AMS2140 Analyzer', 'Emerson', 'B21401248300', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-07-04'::DATE, '2026-07-03'::DATE, 'C07-202501', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401248300'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401248304)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00047', 'AMS2140 Analyzer', 'Emerson', 'B21401248304', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-09-03'::DATE, '2026-09-02'::DATE, 'C09-202502', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401248304'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401248305)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00048', 'AMS2140 Analyzer', 'Emerson', 'B21401248305', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-07-04'::DATE, '2026-07-03'::DATE, 'C07-202502', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401248305'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401283996)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00049', 'AMS2140 Analyzer', 'Emerson', 'B21401283996', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-10-31'::DATE, '2026-10-30'::DATE, 'C10-202550', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401283996'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21402258100)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00050', 'AMS2140 Analyzer', 'Emerson', 'B21402258100', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-08-21'::DATE, '2026-08-21'::DATE, 'CP0051', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21402258100'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21402258101)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00051', 'AMS2140 Analyzer', 'Emerson', 'B21402258101', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-08-21'::DATE, '2026-03-19'::DATE, 'CP0051', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21402258101'
ON CONFLICT DO NOTHING;

-- Equipment: Digital Multimeter (30420018)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00052', 'Digital Multimeter', 'Fluke', '30420018', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-02-05'::DATE, '2026-02-05'::DATE, '177176', 'Fluke'
FROM equipment e WHERE e.serial_number = '30420018'
ON CONFLICT DO NOTHING;

-- Equipment: NOVA-PRO 300 AFG3021C ACT-3x (C0206541485411)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00053', 'NOVA-PRO 300 AFG3021C ACT-3x', 'Tektronix Monarch', 'C0206541485411', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-08-28'::DATE, '2026-02-28'::DATE, 'CAL-500-002', 'Tektronix Monarch'
FROM equipment e WHERE e.serial_number = 'C0206541485411'
ON CONFLICT DO NOTHING;

-- Equipment: Waveform Generator 33500B (MY52100243)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00054', 'Waveform Generator 33500B', 'Agilent', 'MY52100243', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'General Tools' AND s.name = 'Hand Tools'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-01-23'::DATE, '2026-01-23'::DATE, '176515', 'Agilent'
FROM equipment e WHERE e.serial_number = 'MY52100243'
ON CONFLICT DO NOTHING;

-- Equipment: AMS2140 Analyzer (B21401248303)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00055', 'AMS2140 Analyzer', 'Emerson', 'B21401248303', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-07-07'::DATE, '2026-07-07'::DATE, 'CO7-202503', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B21401248303'
ON CONFLICT DO NOTHING;

-- Equipment: Agilent 33210A (B2140140918)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00056', 'Agilent 33210A', 'Emerson', 'B2140140918', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-09-23'::DATE, '2026-01-23'::DATE, 'MHM-97905-PBF', 'Emerson'
FROM equipment e WHERE e.serial_number = 'B2140140918'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser M3 (87984)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00057', 'Fixturlaser M3', 'Fixturlaser South Africa (Pty) Ltd', '87984', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '87984-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '87984'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser M3 (87986)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00058', 'Fixturlaser M3', 'Fixturlaser South Africa (Pty) Ltd', '87986', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '87986-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '87986'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser M3 (87988)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00059', 'Fixturlaser M3', 'Fixturlaser South Africa (Pty) Ltd', '87988', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '87988-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '87988'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser S3 (97984)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00060', 'Fixturlaser S3', 'Fixturlaser South Africa (Pty) Ltd', '97984', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '97984-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '97984'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser S3 (97986)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00061', 'Fixturlaser S3', 'Fixturlaser South Africa (Pty) Ltd', '97986', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '97986-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '97986'
ON CONFLICT DO NOTHING;

-- Equipment: Fixturlaser S3 (97988)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00062', 'Fixturlaser S3', 'Fixturlaser South Africa (Pty) Ltd', '97988', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Laser Alignment' AND s.name = 'Shaft Alignment'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-04-29'::DATE, '2025-04-29'::DATE, '97988-20240429', 'Fixturlaser South Africa (Pty) Ltd'
FROM equipment e WHERE e.serial_number = '97988'
ON CONFLICT DO NOTHING;

-- Equipment: Flir E8 (63945556)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00063', 'Flir E8', 'Flir', '63945556', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-10-21'::DATE, '2025-10-21'::DATE, '131315-2', 'Flir'
FROM equipment e WHERE e.serial_number = '63945556'
ON CONFLICT DO NOTHING;

-- Equipment: Flir E54 (845009095)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00064', 'Flir E54', 'Flir', '845009095', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-12-11'::DATE, '2025-12-11'::DATE, '131508-1', 'Flir'
FROM equipment e WHERE e.serial_number = '845009095'
ON CONFLICT DO NOTHING;

-- Equipment: Flir E54 (84508577)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00065', 'Flir E54', 'Flir', '84508577', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Thermal Equipment' AND s.name = 'Thermal Cameras'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2024-10-21'::DATE, '2025-10-21'::DATE, '131315-1', 'Flir'
FROM equipment e WHERE e.serial_number = '84508577'
ON CONFLICT DO NOTHING;

-- Equipment: Portable Vibration Calibrator 9110D (11755)
INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status, requires_calibration)
SELECT 'EQ-00066', 'Portable Vibration Calibrator 9110D', 'The Modal Shop', '11755', 
       c.id, s.id, 'Available', TRUE
FROM categories c
JOIN subcategories s ON s.category_id = c.id
WHERE c.name = 'Vibration Analysis' AND s.name = 'Analyzers'
ON CONFLICT (equipment_id) DO NOTHING;

INSERT INTO calibration_records (equipment_id, calibration_date, expiry_date, certificate_number, calibration_provider)
SELECT e.id, '2025-11-12'::DATE, '2026-11-12'::DATE, '2649.01', 'The Modal Shop'
FROM equipment e WHERE e.serial_number = '11755'
ON CONFLICT DO NOTHING;

-- Summary
SELECT 'Personnel imported: ' || COUNT(*) FROM personnel;
SELECT 'Equipment imported: ' || COUNT(*) FROM equipment;
SELECT 'Calibration records: ' || COUNT(*) FROM calibration_records;
