-- ============================================
-- SUPABASE COMPLETE SETUP SCRIPT
-- Generated: 2026-03-11T12:17:33.027Z
-- 
-- Run this in Supabase SQL Editor (Dashboard > SQL Editor)
-- This creates all tables, inserts seed data, and creates RPC functions
-- ============================================

BEGIN;

-- ============================================
-- TABLES
-- ============================================

-- Categories
CREATE TABLE IF NOT EXISTS categories (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    is_checkout_allowed BOOLEAN NOT NULL DEFAULT TRUE,
    is_consumable BOOLEAN NOT NULL DEFAULT FALSE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Subcategories
CREATE TABLE IF NOT EXISTS subcategories (
    id SERIAL PRIMARY KEY,
    category_id INTEGER NOT NULL REFERENCES categories(id) ON DELETE CASCADE,
    name VARCHAR(100) NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    UNIQUE(category_id, name)
);

-- Locations
CREATE TABLE IF NOT EXISTS locations (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    description VARCHAR(255),
    type VARCHAR(50) DEFAULT 'Site',
    customer_id INTEGER,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Personnel
CREATE TABLE IF NOT EXISTS personnel (
    id SERIAL PRIMARY KEY,
    employee_id VARCHAR(50) NOT NULL UNIQUE,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    full_name VARCHAR(200) NOT NULL,
    email VARCHAR(255),
    job_title VARCHAR(150),
    supervisor VARCHAR(200),
    site VARCHAR(100),
    department VARCHAR(100),
    division VARCHAR(100),
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Customers
CREATE TABLE IF NOT EXISTS customers (
    id SERIAL PRIMARY KEY,
    customer_number VARCHAR(50) NOT NULL UNIQUE,
    display_name VARCHAR(255) NOT NULL,
    currency_code VARCHAR(10) DEFAULT 'ZAR',
    billing_city VARCHAR(100),
    billing_state VARCHAR(100),
    billing_country VARCHAR(100),
    shipping_city VARCHAR(100),
    shipping_state VARCHAR(100),
    shipping_country VARCHAR(100),
    tax_registration_number VARCHAR(50),
    vat_treatment VARCHAR(50),
    email VARCHAR(255),
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Roles
CREATE TABLE IF NOT EXISTS roles (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL UNIQUE,
    permissions JSONB DEFAULT '{}',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Users
CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(100) NOT NULL UNIQUE,
    email VARCHAR(255),
    full_name VARCHAR(200),
    password_hash VARCHAR(255),
    role_id INTEGER REFERENCES roles(id) DEFAULT 3,
    personnel_id INTEGER REFERENCES personnel(id),
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    last_login TIMESTAMPTZ,
    phone VARCHAR(50),
    department VARCHAR(100),
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Equipment
CREATE TABLE IF NOT EXISTS equipment (
    id SERIAL PRIMARY KEY,
    equipment_id VARCHAR(50) NOT NULL UNIQUE,
    equipment_name VARCHAR(200) NOT NULL,
    description TEXT,
    category_id INTEGER REFERENCES categories(id),
    subcategory_id INTEGER REFERENCES subcategories(id),
    manufacturer VARCHAR(200),
    model VARCHAR(200),
    is_serialised BOOLEAN NOT NULL DEFAULT TRUE,
    serial_number VARCHAR(100),
    is_quantity_tracked BOOLEAN NOT NULL DEFAULT FALSE,
    total_quantity INTEGER DEFAULT 1,
    available_quantity INTEGER DEFAULT 1,
    unit VARCHAR(20) DEFAULT 'ea',
    reorder_level INTEGER DEFAULT 0,
    status VARCHAR(30) NOT NULL DEFAULT 'Available'
        CHECK (status IN ('Available', 'Checked Out', 'In Maintenance', 'Retired')),
    current_location_id INTEGER REFERENCES locations(id),
    current_holder_id INTEGER REFERENCES personnel(id),
    last_action VARCHAR(10) CHECK (last_action IN ('OUT', 'IN', 'ISSUE', 'RESTOCK')),
    last_action_timestamp TIMESTAMPTZ,
    next_maintenance_date DATE,
    notes TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_equipment_serial ON equipment(serial_number);
CREATE INDEX IF NOT EXISTS idx_equipment_status ON equipment(status);
CREATE INDEX IF NOT EXISTS idx_equipment_category ON equipment(category_id);

-- Calibration Records
CREATE TABLE IF NOT EXISTS calibration_records (
    id SERIAL PRIMARY KEY,
    equipment_id INTEGER REFERENCES equipment(id) ON DELETE CASCADE,
    serial_number VARCHAR(100),
    calibration_date DATE,
    expiry_date DATE,
    certificate_number VARCHAR(100),
    calibration_status VARCHAR(30) DEFAULT 'Valid'
        CHECK (calibration_status IN ('Valid', 'Due Soon', 'Expired', 'N/A')),
    calibration_provider VARCHAR(200),
    certificate_file_url TEXT,
    notes TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_calibration_equipment ON calibration_records(equipment_id);
CREATE INDEX IF NOT EXISTS idx_calibration_expiry ON calibration_records(expiry_date);
CREATE INDEX IF NOT EXISTS idx_calibration_status ON calibration_records(calibration_status);
CREATE INDEX IF NOT EXISTS idx_calibration_serial ON calibration_records(serial_number);

-- Equipment Movements
CREATE TABLE IF NOT EXISTS equipment_movements (
    id SERIAL PRIMARY KEY,
    equipment_id INTEGER NOT NULL REFERENCES equipment(id),
    action VARCHAR(10) NOT NULL CHECK (action IN ('OUT', 'IN', 'ISSUE', 'RESTOCK')),
    quantity INTEGER DEFAULT 1,
    location_id INTEGER REFERENCES locations(id),
    personnel_id INTEGER REFERENCES personnel(id),
    customer_id INTEGER REFERENCES customers(id),
    photo_url TEXT,
    notes TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    created_by VARCHAR(100)
);

CREATE INDEX IF NOT EXISTS idx_movements_equipment ON equipment_movements(equipment_id);
CREATE INDEX IF NOT EXISTS idx_movements_created ON equipment_movements(created_at DESC);

-- Reservations
CREATE TABLE IF NOT EXISTS reservations (
    id SERIAL PRIMARY KEY,
    equipment_id INTEGER NOT NULL REFERENCES equipment(id),
    personnel_id INTEGER NOT NULL REFERENCES personnel(id),
    customer_id INTEGER REFERENCES customers(id),
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    status VARCHAR(30) DEFAULT 'pending'
        CHECK (status IN ('pending', 'approved', 'rejected', 'completed', 'cancelled')),
    purpose TEXT,
    approved_by VARCHAR(100),
    approved_at TIMESTAMPTZ,
    notes TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_reservations_equipment ON reservations(equipment_id);
CREATE INDEX IF NOT EXISTS idx_reservations_dates ON reservations(start_date, end_date);

-- Maintenance Types
CREATE TABLE IF NOT EXISTS maintenance_types (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Maintenance Log
CREATE TABLE IF NOT EXISTS maintenance_log (
    id SERIAL PRIMARY KEY,
    equipment_id INTEGER NOT NULL REFERENCES equipment(id),
    maintenance_type_id INTEGER REFERENCES maintenance_types(id),
    maintenance_date DATE,
    completed_date DATE,
    description TEXT,
    performed_by VARCHAR(200),
    external_provider VARCHAR(200),
    cost DECIMAL(10, 2),
    cost_currency VARCHAR(10) DEFAULT 'ZAR',
    downtime_days INTEGER DEFAULT 0,
    next_maintenance_date DATE,
    status VARCHAR(30) DEFAULT 'scheduled'
        CHECK (status IN ('scheduled', 'in_progress', 'completed', 'cancelled')),
    work_order_number VARCHAR(100),
    notes TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_maintenance_equipment ON maintenance_log(equipment_id);

-- Equipment Images
CREATE TABLE IF NOT EXISTS equipment_images (
    id SERIAL PRIMARY KEY,
    equipment_id INTEGER NOT NULL REFERENCES equipment(id) ON DELETE CASCADE,
    filename VARCHAR(500),
    original_filename VARCHAR(500),
    file_path TEXT,
    file_size INTEGER,
    mime_type VARCHAR(100),
    caption TEXT,
    is_primary BOOLEAN DEFAULT FALSE,
    sort_order INTEGER DEFAULT 0,
    uploaded_by VARCHAR(100),
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_images_equipment ON equipment_images(equipment_id);

-- Notifications
CREATE TABLE IF NOT EXISTS notifications (
    id SERIAL PRIMARY KEY,
    type VARCHAR(50) NOT NULL,
    title VARCHAR(200) NOT NULL,
    message TEXT,
    reference_type VARCHAR(50),
    reference_id INTEGER,
    user_id INTEGER REFERENCES users(id),
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_notifications_user ON notifications(user_id);
CREATE INDEX IF NOT EXISTS idx_notifications_read ON notifications(is_read);

-- Audit Log
CREATE TABLE IF NOT EXISTS audit_log (
    id SERIAL PRIMARY KEY,
    table_name VARCHAR(100) NOT NULL,
    record_id INTEGER,
    action VARCHAR(20) NOT NULL,
    old_values JSONB,
    new_values JSONB,
    changed_by VARCHAR(100),
    changed_by_name VARCHAR(200),
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_audit_table ON audit_log(table_name);
CREATE INDEX IF NOT EXISTS idx_audit_record ON audit_log(record_id);
CREATE INDEX IF NOT EXISTS idx_audit_time ON audit_log(created_at DESC);

-- ============================================
-- TRIGGERS
-- ============================================

CREATE OR REPLACE FUNCTION update_timestamp()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_equipment_updated ON equipment;
CREATE TRIGGER trg_equipment_updated BEFORE UPDATE ON equipment FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_personnel_updated ON personnel;
CREATE TRIGGER trg_personnel_updated BEFORE UPDATE ON personnel FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_customers_updated ON customers;
CREATE TRIGGER trg_customers_updated BEFORE UPDATE ON customers FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_calibration_records_updated ON calibration_records;
CREATE TRIGGER trg_calibration_records_updated BEFORE UPDATE ON calibration_records FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_categories_updated ON categories;
CREATE TRIGGER trg_categories_updated BEFORE UPDATE ON categories FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_subcategories_updated ON subcategories;
CREATE TRIGGER trg_subcategories_updated BEFORE UPDATE ON subcategories FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_locations_updated ON locations;
CREATE TRIGGER trg_locations_updated BEFORE UPDATE ON locations FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_reservations_updated ON reservations;
CREATE TRIGGER trg_reservations_updated BEFORE UPDATE ON reservations FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_maintenance_log_updated ON maintenance_log;
CREATE TRIGGER trg_maintenance_log_updated BEFORE UPDATE ON maintenance_log FOR EACH ROW EXECUTE FUNCTION update_timestamp();
DROP TRIGGER IF EXISTS trg_users_updated ON users;
CREATE TRIGGER trg_users_updated BEFORE UPDATE ON users FOR EACH ROW EXECUTE FUNCTION update_timestamp();

-- ============================================
-- SEED DATA: Categories
-- ============================================

INSERT INTO categories (name, is_checkout_allowed, is_consumable) VALUES
    ('Vibration Analysis', TRUE, FALSE),
    ('Laser Alignment', TRUE, FALSE),
    ('Thermal Equipment', TRUE, FALSE),
    ('Thermal Camera', TRUE, FALSE),
    ('Motor Circuit Analysis', TRUE, FALSE),
    ('Electrical / electronic test instrumentation', TRUE, FALSE),
    ('Consumables', TRUE, TRUE),
    ('Tools', TRUE, FALSE)
ON CONFLICT (name) DO NOTHING;

-- Subcategories
INSERT INTO subcategories (category_id, name) VALUES
    (1, 'Analyzers'), (1, 'Calibrators'),
    (2, 'Alignment Systems'), (2, 'Sensors'),
    (3, 'Thermal Cameras'), (3, 'Accessories'),
    (4, 'Handheld Cameras'),
    (5, 'MCA Testers'),
    (6, 'Multimeters'), (6, 'Signal Generators'),
    (7, 'General'), (8, 'General')
ON CONFLICT (category_id, name) DO NOTHING;

-- Branch locations
INSERT INTO locations (name, description, type) VALUES
    ('WearCheck - Longmeadow', 'Longmeadow Head Office Branch', 'Branch'),
    ('WearCheck - Springs', 'Springs Branch', 'Branch'),
    ('WearCheck - Westville', 'Westville Branch', 'Branch')
ON CONFLICT (name) DO NOTHING;

-- Roles
INSERT INTO roles (id, name, permissions) VALUES
    (1, 'admin', '{"all": true}'),
    (2, 'manager', '{"view": true, "edit": true, "checkout": true, "reports": true}'),
    (3, 'user', '{"view": true, "checkout": true}')
ON CONFLICT (name) DO NOTHING;

-- Maintenance Types
INSERT INTO maintenance_types (name) VALUES
    ('Preventive'), ('Corrective'), ('Calibration'),
    ('Inspection'), ('Cleaning'), ('Software Update'), ('Other')
ON CONFLICT (name) DO NOTHING;

-- ============================================
-- PERSONNEL DATA (121 employees)
-- ============================================

INSERT INTO personnel (employee_id, first_name, last_name, full_name, email, job_title, supervisor, site, department, division)
VALUES ('WC492', 'Adri', 'Ludick', 'Adri Ludick', 'a.ludick@wearcheckRS.com', 'Manager Mechanical', 'Philip Schutte', NULL, 'ARC-NDT', 'GP Consult')
ON CONFLICT (employee_id) DO UPDATE SET full_name = EXCLUDED.full_name, email = EXCLUDED.email, job_title = EXCLUDED.job_title, supervisor = EXCLUDED.supervisor, site = EXCLUDED.site, department = EXCLUDED.department, division = EXCLUDED.division;

INSERT INTO personnel (employee_id, first_name, last_name, full_name, email, job_title, supervisor, site, department, division)
VALUES ('WC383', 'Adriaan Pertus Johannes', 'Bouwer', 'Adriaan Pertus Johannes Bouwer', 'adriaanb@wearcheckrs.com', 'Thermal Manager', 'Louis Peacock', 'KwaZulu Natal', 'ARC-RCM', 'WearCheck')
ON CONFLICT (employee_id) DO UPDATE SET full_name = EXCLUDED.full_name, email = EXCLUDED.email, job_title = EXCLUDED.job_title, supervisor = EXCLUDED.supervisor, site = EXCLUDED.site, department = EXCLUDED.department, division = EXCLUDED.division;

INSERT INTO personnel (employee_id, first_name, last_name, full_name, email, job_title, supervisor, site, department, division)
VALUES ('WEC094', 'Ailwel Marshall', 'Rasimphi', 'Ailwel Marshall Rasimphi', 'marshallr@wearcheckrs.com', 'Reliability Technician', 'Riaan de Beer', 'Valterra - Waterval', 'ARC-RCM', 'GP Consult')
ON CONFLICT (employee_id) DO UPDATE SET full_name = EXCLUDED.full_name, email = EXCLUDED.email, job_title = EXCLUDED.job_title, supervisor = EXCLUDED.supervisor, site = EXCLUDED.site, department = EXCLUDED.department, division = EXCLUDED.division;















































































































-- Site locations from personnel data
INSERT INTO locations (name, type) VALUES ('Eskom - Matimba', 'Site') ON CONFLICT (name) DO NOTHING;
INSERT INTO locations (name, type) VALUES ('Kathu', 'Site') ON CONFLICT (name) DO NOTHING;

-- ============================================
-- CUSTOMERS DATA (190 customers)
-- ============================================































































































































































































-- ============================================
-- EQUIPMENT & CALIBRATION DATA (66 items)
-- ============================================

-- Insert equipment and calibration records using category lookups
DO $$
DECLARE
    v_category_id INTEGER;
    v_subcategory_id INTEGER;
    v_equipment_db_id INTEGER;
BEGIN

    -- Fixturlaser R2 (03362)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;

    INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status)
    VALUES ('EQ-03362', 'Fixturlaser R2', 'Fixturlaser South Africa (Pty) Ltd', '03362', v_category_id, v_subcategory_id, 'Available')
    ON CONFLICT (equipment_id) DO UPDATE SET equipment_name = EXCLUDED.equipment_name, manufacturer = EXCLUDED.manufacturer, serial_number = EXCLUDED.serial_number
    RETURNING id INTO v_equipment_db_id;

    INSERT INTO calibration_records (equipment_id, serial_number, calibration_date, expiry_date, certificate_number, calibration_status, calibration_provider, notes)
    VALUES (v_equipment_db_id, '03362', '2025-05-05', '2027-05-01', '03362-20250506-43457', 'Valid', 'Fixturlaser South Africa (Pty) Ltd', NULL);

    -- Acoem S7 (41718)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;

    INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status)
    VALUES ('EQ-41718', 'Acoem S7', 'Acoem', '41718', v_category_id, v_subcategory_id, 'Available')
    ON CONFLICT (equipment_id) DO UPDATE SET equipment_name = EXCLUDED.equipment_name, manufacturer = EXCLUDED.manufacturer, serial_number = EXCLUDED.serial_number
    RETURNING id INTO v_equipment_db_id;

    INSERT INTO calibration_records (equipment_id, serial_number, calibration_date, expiry_date, certificate_number, calibration_status, calibration_provider, notes)
    VALUES (v_equipment_db_id, '41718', '2025-03-10', '2026-03-10', '41718-20250310', 'Valid', 'Acoem', NULL);

    -- Fixturlaser M3 (85889)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;

    INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status)
    VALUES ('EQ-85889', 'Fixturlaser M3', 'Fixturlaser South Africa (Pty) Ltd', '85889', v_category_id, v_subcategory_id, 'Available')
    ON CONFLICT (equipment_id) DO UPDATE SET equipment_name = EXCLUDED.equipment_name, manufacturer = EXCLUDED.manufacturer, serial_number = EXCLUDED.serial_number
    RETURNING id INTO v_equipment_db_id;

    INSERT INTO calibration_records (equipment_id, serial_number, calibration_date, expiry_date, certificate_number, calibration_status, calibration_provider, notes)
    VALUES (v_equipment_db_id, '85889', '2025-05-05', '2027-05-01', '85889-20250505-43457', 'Valid', 'Fixturlaser South Africa (Pty) Ltd', NULL);

    -- Fixturlaser S3 (95889)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir E40 (49002016)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Camera' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- sensALIGN 7 Sensor (49004275)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- sensALIGN 7 Sensor (49022264)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- sensALIGN 7 Sensor (49110800)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir T640 (55905783)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir T530 (79302627)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir T540 (79318361)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir E54 (84510173)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- All Test Pro 5 (ATSX1119)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Motor Circuit Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- ATTP MCA Tester (AT701667)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Motor Circuit Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Portable Vibration Calibrator (9110D)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B2140140724)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B2140140833)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401150773)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401161342)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401172280)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401172281)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401183989)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401195137)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216460)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216461)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216462)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216467)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216468)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216469)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216472)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216473)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216474)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216475)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216476)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216478)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216479)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216480)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401216481)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401237748)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401237749)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401237750)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401238055)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401238056)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401238057)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401238058)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401248300)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401248304)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401248305)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401283996)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21402258100)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21402258101)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Digital Multimeter (30420018)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- NOVA-PRO 300 AFG3021C ACT-3x (C0206541485411)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Waveform Generator 33500B (MY52100243)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Electrical / electronic test instrumentation' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- AMS2140 Analyzer (B21401248303)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Agilent 33210A (B2140140918)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser M3 (87984)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser M3 (87986)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser M3 (87988)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser S3 (97984)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser S3 (97986)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Fixturlaser S3 (97988)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Laser Alignment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir E8 (63945556)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir E54 (845009095)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Flir E54 (84508577)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Thermal Equipment' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;



    -- Portable Vibration Calibrator 9110D (11755)
    SELECT id INTO v_category_id FROM categories WHERE name = 'Vibration Analysis' LIMIT 1;
    IF v_category_id IS NULL THEN v_category_id := 1; END IF;
    SELECT id INTO v_subcategory_id FROM subcategories WHERE category_id = v_category_id LIMIT 1;
    IF v_subcategory_id IS NULL THEN v_subcategory_id := 1; END IF;

node : 
At line:1 char:106
+ ... \database"; node generate_supabase_sql.js > supabase_setup.sql 2>&1;  ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
Γ£à SQL generated successfully!
    INSERT INTO equipment (equipment_id, equipment_name, manufacturer, serial_number, category_id, subcategory_id, status)
    VALUES ('EQ-11755', 'Portable Vibration Calibrator 9110D', 'The Modal Shop', '11755', v_category_id, v_subcategory_id, 'Available')
    ON CONFLICT (equipment_id) DO UPDATE SET equipment_name = EXCLUDED.equipment_name, manufacturer = EXCLUDED.manufacturer, serial_number = EXCLUDED.serial_number
    RETURNING id INTO v_equipment_db_id;


END $$;

-- ============================================
-- ROW LEVEL SECURITY & POLICIES
-- ============================================

ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON categories;
CREATE POLICY "Allow all" ON categories FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE subcategories ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON subcategories;
CREATE POLICY "Allow all" ON subcategories FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE locations ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON locations;
CREATE POLICY "Allow all" ON locations FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE personnel ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON personnel;
CREATE POLICY "Allow all" ON personnel FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE customers ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON customers;
CREATE POLICY "Allow all" ON customers FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE equipment ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON equipment;
CREATE POLICY "Allow all" ON equipment FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE equipment_movements ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON equipment_movements;
CREATE POLICY "Allow all" ON equipment_movements FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE calibration_records ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON calibration_records;
CREATE POLICY "Allow all" ON calibration_records FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE reservations ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON reservations;
CREATE POLICY "Allow all" ON reservations FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON notifications;
CREATE POLICY "Allow all" ON notifications FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE audit_log ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON audit_log;
CREATE POLICY "Allow all" ON audit_log FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE equipment_images ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON equipment_images;
CREATE POLICY "Allow all" ON equipment_images FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE maintenance_log ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON maintenance_log;
CREATE POLICY "Allow all" ON maintenance_log FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE maintenance_types ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON maintenance_types;
CREATE POLICY "Allow all" ON maintenance_types FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE roles ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON roles;
CREATE POLICY "Allow all" ON roles FOR ALL USING (true) WITH CHECK (true);
ALTER TABLE users ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all" ON users;
CREATE POLICY "Allow all" ON users FOR ALL USING (true) WITH CHECK (true);

COMMIT;
   Personnel: 113 records
   Customers: 190 records
   Equipment + Calibration: 66 records
   Site locations: 25
